/////////// FOOTER /////////// 
footer { 
    background-color: $secondaryDark;
    font-size: 1rem;
    color: $white;
    text-align: center;
    a {
        color: $white;
        font-size: 2rem;
    }
    .footer-logo {
      width: 100%;
      max-width: 10rem; 
      border: 2px solid $darkRed;
      border-radius: 8px;
    }
    .redirect {
      position: relative;
      top: -24px;
      i {
        font-size: 2.5rem;
      }
      &:hover {
        color: $white;
        animation: scrollup 400ms 2;
      }
    }
  }

  @keyframes scrollup {
    from {
      top: -24px;
      border-bottom: 5px double white;
    }
    to {
      top: -30px;
      border-bottom: 5px double white;
    }
  }

  ////////// Bootstrap small column break (tablet) //////////
@media (max-width: 576px) {
  .footer-logo {
      width: 100%;
      max-width: 13rem; 
      border: 3px solid $darkRed;
      border-radius: 8px;
    }
}

  /*
  footer { 
    background-color: $secondaryDark;
    font-size: .9rem;
    margin-top: 1rem;
    a {
        color: $white;
        font-size: 1.8rem;
    }
    .footer-logo {
      max-width: 9rem; 
    }
    .redirect {
      position: relative;
      top: -20px;
    }
  }
  */