/////////// FOOTER /////////// 
footer { 
    background-color: $secondaryDark;
    padding: 0 1rem;
    .footer-logo {
      width: 100%;
      max-width: 10rem; 
      border: 2.5px solid $darkRed;
      border-radius: 8px;
    }
    .redirect {
      position: relative;
      top: -20px;
      i {
        font-size: 2.4rem;
        color: $white;
      }
      &:hover {
        color: $white;
        animation: scrollup 400ms 2;
      }
    }
  }

  @keyframes scrollup {
    from {
      top: -24px;
      border-bottom: 5px double white;
    }
    to {
      top: -30px;
      border-bottom: 5px double white;
    }
  }

  ////////// Bootstrap small column break (tablet) //////////
@media (max-width: 576px) {
  .footer-logo {
      max-width: 13rem; 
    }
}
