 ////////// GALLERY ////////// 

 .gallery-container {
    margin: 0 auto;
    grid: auto-flow dense / repeat(3, 1fr);
    gap:  0.5rem;
   }
  
  .gallery-container img {
    width: 100%;
    transition: .4s all linear;
    &:hover {
        transform: scale(1.05);
        position: relative;
        z-index: 10;
    }
  }
 
 ////////// Bootstrap small column break //////////
@media (max-width: 768px) {
  .gallery-container {
    padding: .5rem;
   }
} 


 ////////// Bootstrap small column break //////////
 @media (max-width: 440px) {
  .gallery-container {
    padding: .25rem;
    grid: auto-flow dense / 1fr 1fr;
   }
} 