////////// HEADER //////////
header {
    
    border-bottom: 4px double $white;
}

.hero-image {
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.4), rgba(0,0,0,.4)), url(../images/cover-index-2.jpg) center bottom / cover no-repeat;
  margin: 0;
  position: relative;
}

.hero-container {
    place-items: center;
    padding-bottom: 3rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    
    .item1 {
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        padding: 1rem 2rem;
        .header-logo {
            max-height: 300px;
            border: 3px solid $darkRed;
            border-radius: 15px;
          }
    }
    .item2 {   
        grid-column: 1 / 13;
        grid-row: 2 / 3;
        padding: 0 .5rem;
        button {
            align-self: stretch;
            margin: .4rem;
        }
    }
}



////////// NAVIGATION ////////// 
.nav-item {
    align-self: center;
}
.nav-item .active {
    color: $white;
    text-decoration: underline $darkRed;
}

a .social-link {
    color: $white;
    font-size: 3rem;
    margin: .2rem;
}
//Toggle social link OUTSIDE nav-toggler HIDDEN
.mobile-hidden {
    display: none;
}
//Toggle social link OUTSIDE nav-toggler VISIBLE
.mobile-visible {
    display: block;
}
  
.nav-link {
    font-size: clamp(16px, 1.5vw, 22px);
    font-weight: 500;
    font-family: "Roboto Slab";
    .active {
        color: $white;
        text-decoration: underline $darkRed;
    }
    
}

.navbar-toggler {
    background-color: $darkRed!important;
    border: 1.5px solid $white!important;
    color: $white;
    opacity: .95;
}


////// Bootstrap sm width //////
@media (max-width: 576px) { 
    .hero-content{
        padding: 2rem 0;
        .item1 {
            padding: 0 1rem;
        }
    }

    .navbar {
        justify-content: center !important;
    }
    .nav-item {
        text-align: center;
        .active {
            display: none;
        }
    }
    .navbar-toggler {
        margin-left: 0.5rem;
        color: $white !important;
    }

    //Toggle social link OUTSIDE nav-toggler VISIBLE
    .mobile-hidden {
        display: block;
    }
    //Toggle social link INSIDE nav-toggler HIDDEN
    .mobile-visible {
        display: none;
    }

}

