.lessons-container {
 
  grid-gap: 1rem 4rem;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
    'content1'
    'cards'
    'actionItem'
  ;

  .item1 {
    padding-bottom: 1rem;
  }
  
  .item2, .item3 {
    padding: 1rem;
  }
  .item1 {
    grid-area: content1;
  }
  .item2 {
    grid-area: cards;
    display: flex;
    justify-content: center;
    .card {
      margin: 0 .5rem;
    } 
  }
  .item3 {
    grid-area: actionItem;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    grid-gap: 1rem 2rem;
    h3 {
      margin: 0;
    }
    button {
      min-width: 11rem;
    }
    hr {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
  }
  
}

.lessons-container2 {
  grid-gap: 1.5rem 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  .item1, .item2 {
    padding: 1rem;
  }
  .item2 {
    background-color: $secondaryDark;
    border-radius: 10px;
  }
}

@media (max-width: 860px) {
  .lessons-container {

    .item2 {
      display: flex;
      justify-content: space-evenly;
      margin: .5rem;
      .card {
        margin: 0 .25rem;
      }
    }
  }

  .lessons-container2 {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 1rem 0;
    padding-top: 1rem;
  }
}

@media (max-width: 580px) {
  .lessons-container, .lessons-container2 {
    padding: 0 1rem;
  }
  
  .lessons-container {
    .item2 {
      flex-direction: column;
      margin: 0 auto;
      .card {
        max-width: 300px;
        margin: .3rem 0;
      }
    }
    .item3 {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }
  }
} 