@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Slab&display=swap');
@import './variables';
@import './footer';
@import './header';
@import './about';
@import './cards';
@import './lessons';
@import './gallery';

///////// GLOBAL /////////
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: $darkRed;
  color: $white;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  font-size: 1rem;
}

section {
  padding: 2.5rem 0;
}

.text-link {
  color: $white;
  font-style: italic;
}

h1 {
  font-size: calc(34px + .5vw);
}

h2 {
  font-size: calc(26px + .5vw);
}

h3 {
  font-size: calc(18px + .5vw);
}


em{
  font-size: 14px;
}

.padding {
  padding-bottom: 3rem;
}




.lessons {
  text-shadow: 2px 2px 2px black;
}


////////// Bootstrap small column break (tablet) //////////
@media (max-width: 992px) {
  
}

////////// Bootstrap small column break (tablet) //////////
@media (max-width: 768px) {
  
}

////////// Bootstrap small column break (tablet) //////////
@media (max-width: 440px) {
  .padding {
    padding-bottom: 1rem;
  }
}