////////// VARIABLES //////////
$white : #fff;
$darkRed : #610303;
$accentRed : #a10606;
$primaryDark : #111111;
$secondaryDark : #333;

///////// GLOBAL /////////
html, body {
  height: 100%;
  box-sizing: border-box;
} 

body {
  background-color: $darkRed;
  color: $white;
  padding: 0;
  margin: 0;
}

////////// HEADER ////////// 
.hero-image {
   background-image: url(./images/cover-index-2.jpg);
   height: 55vh;
   margin: 0;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
 }
 
 .hero-content {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 .header-logo {
   max-width: 85%;
   border: 4px solid $darkRed;
   border-radius: 15px;
 }

 .navbar-nav {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 .nav-item {
   list-style-type: none;
 }

 .nav-link {
   color: $white;
   text-decoration: none;
   font-size: 1.2rem;
   &:hover {
      text-decoration: underline;
   }
 }
 
 



 ////////// GALLERY ////////// 
 .gallery-container {
  margin: 0 auto;
  padding: 1rem;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
 }

.gallery-container img {
  width: 100%;
  transition: .4s all linear;
  &:hover {
      transform: scale(1.05);
      position: relative;
      z-index: 10;
  }
}

/////////// FOOTER /////////// 

footer { 
  background-color: $secondaryDark;
  font-size: .9rem;
  padding: 1rem;
  color: $white;
  text-align: center;
  div {
    padding: .5rem;
  }
  a {
      color: $white;
      font-size: 1.8rem;
  }
  .footer-logo {
    max-width: 10rem; 
    border: 2px solid $darkRed;
    border-radius: 8px;
  }
  .redirect {
    position: relative;
    top: -20px;
  }
}
/*
footer { 
  background-color: $secondaryDark;
  font-size: .9rem;
  margin-top: 1rem;
  a {
      color: $white;
      font-size: 1.8rem;
  }
  .footer-logo {
    max-width: 9rem; 
  }
  .redirect {
    position: relative;
    top: -20px;
  }
}
*/