////////// VARIABLES //////////
$white : #fff;
$darkRed : #610303;
$accentRed : #a10606;
$primaryDark : #111111;
$secondaryDark : #333;

///////// GLOBAL ///////// 
body {
  background-color: $primaryDark;
  color: $white;
}

 ////////// GALLERY ////////// 
 .gallery-container {
  margin: 0 auto;
  padding: 1rem;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
 }

.gallery-container img {
  width: 100%;
  transition: .4s all linear;
  &:hover {
      transform: scale(1.05);
      position: relative;
      z-index: 10;
  }
}

/////////// FOOTER /////////// 
footer { 
  background-color: $secondaryDark;
  font-size: .9rem;
  padding: 1rem;
  color: $white;
  text-align: center;
  display: grid;
  div {
    padding: .5rem;;
  }
  a {
      color: $white;
      font-size: 1.8rem;
  }
  .footer-logo {
    max-width: 10rem; 
  }
  .redirect {
    position: relative;
    top: -20px;
  }
}